* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Trebuchet MS, sans-serif;
  color: #3e2c1e;
  font-size: 16px;
}

main {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, li{
  text-decoration: none;
  color: #3e2c1e;
}
